@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://eject37.github.io/DiscordTheme/HideTrash.css");
@import url("https://eject37.github.io/DiscordTheme/ScrollBar.css");
@import url("https://eject37.github.io/DiscordTheme/RoundUserPanel.css");
@import url("https://eject37.github.io/DiscordTheme/OldMicrophone.css");
@import url("https://eject37.github.io/DiscordTheme/ChangeSeTarchBarToIcon.css");
@import url("https://eject37.github.io/DiscordTheme/RegionFlags.css");

:root {
    --app-bg: url(https://i.giphy.com/cM2jGL4t1azcHV83Ba.webp);
    --blur-bg: 40px;
    --brightness-bg: 0.3;
    --border-main: 1px solid rgba(255, 255, 255, 0.1);
}

.theme-dark {
    /* Border в чате на сообщениях где код */
    --background-secondary-alt: rgba(255, 255, 255, 0.05);
    --background-tertiary: var(--background-secondary-alt);
    /* Бейджики  уведомлений */
    --status-danger: rgba(202, 90, 99, 0.9);
    /* ссылки*/
    --text-link: rgb(125, 170, 233);
    /* много где */
    --background-primary: rgba(245, 245, 245, 0.1);
    /* много где используется*/
    --background-secondary: rgba(255, 255, 255, 0.05);
    /* загруска сообщений в чате*/
    --bg-overlay-chat: rgba(255, 255, 255, 0.05);
    /* контекстное меню КРАСНАЯ кнопкА при наведении */
    --button-danger-background: rgba(250, 100, 135, 0.25);
    /* наводишься там где мьют микро слева снизу */
    --background-modifier-selected: rgba(190, 190, 190, 0.25);
    --background-floating: rgba(190, 190, 190, 0.25);
    --status-positive-background: rgba(190, 190, 190, 0.25);
}
:root {
    /* Шрифт */
    --font-primary: "Montserrat", Arial, sans-serif;
    --font-display: "Montserrat", Arial, sans-serif;
    --font-headline: "Montserrat", Arial, sans-serif;

    --status-positive: rgba(255, 255, 255, 0.7);
    --text-positive: rgba(255, 255, 255, 0.67);
    /* Цвет загрузки демок и прочего */
    --primary-700: rgba(200, 200, 200, 0.1);
    /* bar */
    --brand-500: rgb(100, 100, 100);
    /* Бордер чекбоксов, спиннер */
    --brand-400: rgba(170, 170, 170, 0.4);
    /* текст какой то */
    --brand-560: rgb(220, 220, 220);
    /* контекстное меню кнопки при наведении */
    --brand-530: rgba(230, 240, 255, 0.15);
    /* контекстное меню когда зажал */
    --brand-600: rgba(255, 255, 255, 0.3);
    /* мьют микро */
    --red-400: rgba(202, 90, 116, 0.7);
    /* стрелочка наводишься там где вайфай  */
    --green-360: rgba(230, 240, 255, 0.15);
    /* задний цвет там где сервер выбираешь */
    --primary-630: rgba(230, 240, 255, 0.15);
    /* можно выключить микрофон */
    --primary-860: rgba(202, 90, 99, 0.9);
    /* мьют микро на панели снизу слева */
    --important-messages-color: #fdbdbd;
    /* Длина и отступ панели табов в настройках */
    --custom-standard-sidebar-view-sidebar-content-width: 217px;
    --custom-standard-sidebar-view-standard-padding: 100px;
}

/* Шрифт */
:root:lang(bg),
:root:lang(el),
:root:lang(ru),
:root:lang(uk) {
    --font-primary: "Montserrat", Arial, sans-serif;
    --font-display: "Montserrat", Arial, sans-serif;
    --font-headline: "Montserrat", Arial, sans-serif;
}

/* гифка для всего дс */
body {
    background: var(--app-bg) no-repeat;
    background-position: 15%;
    background-size: 105% 105%;
}

/* добавляет блюр и затемнение на задний фон */
.bg__12180 {
    backdrop-filter: blur(var(--blur-bg)) brightness(var(--brightness-bg));
}

/* Credits */
.info__755e1::before {
    content: "theme by eben gemink cekedidi";
    color: var(--text-muted);
    font-size: 14px;
    padding-bottom: 10px;
    display: block;
}

/* убирает задний цвет для гифки */
.chatContent_f087cb,
.chat__52833,
.sidebar_e031be,
.panel_bd8c76,
.container_e1958d,
.container_debb33,
.wrapper__216eb,
.callContainer__1477d,
.wrapper__6bf2d,
.panels__58331,
.privateChannels__9b518,
.scroller__89969,
.themedBackground__3a4c0,
.themed_b152d4,
.bg__12180,
#app-mount,
.app_de4237,
.codeView_e4dd18.hljs,
.menu__088f7:not(.menu__13d0c),
.embedFull__14919,
.container_f79ab4,
.members__573eb,
.container__7e23c,
.member_b44d5d,
.sidebarRegionScroller__8113e,
.standardSidebarView__12528,
.layer_f7d46a,
.contentRegionScroller__9ae20,
.contentRegion__08eba,
.container_bd15da,
.nowPlayingColumn_b025fe,
.container__3673d,
.inset__61d5b,
.attachedBars_c1606a,
.background__4e802,
.fieldList__4e6dd,
.premiumBackground__4f769,
.overlayBackground__345c9,
.bannerNormal__98b2b,
.userProfileInnerThemedNonPremium_b64fb4,
.container__03ec9,
.header__71942m,
.mediaBarInteractionVolume_cc44ff,
.medium_b9df4c,
.modal__20db0,
.authBoxExpanded__1da99 {
    background: transparent !important;
}

/* фиксит 4px title bar */
.withFrame__5e49e {
    margin-top: 0;
    padding-top: 4px;
}

/* убирает залупу */
.form_d8a4a1:before, /*градиент возле чатбокса*/
.form_d8a4a1:after,
.children_cde9af:after,/* какой то градиент сверху хз */
.protip__84833, /* нахуй оно надо (в найти или начать беседу) */ 
.block__6f452, /* нахуй оно надо (в закрепах) */
.tutorial__01565.shown_e5ba1a, /* нахуй оно надо (подсказка в найти или начать беседу) */
.userSettingsSecurityImage__7266c,
.ready__61f2f, /* нахуй оно надо (моя учетная запись)*/ 
.content__01e65:before /* черная полосаааа*/ {
    display: none !important;
}

/* Выделение текста */
::selection {
    background: rgba(94, 98, 106, 0.4) !important;
}

/* Кнопки в голосовом чате (офф микро, дать демку, выйти из звонка) */
#app-mount .staticButton_e090bc,
#app-mount .contextMenuNub_bea150 {
    background-color: rgba(255, 255, 255, 0.1) !important; /*off call*/
    color: rgb(255, 255, 255) !important;
}
#app-mount .staticButton_e090bc:hover {
    background-color: rgba(255, 255, 255, 0.2) !important; /*off call*/
}

/* демка */
.callContainer__1477d {
    background: linear-gradient(
        rgba(0, 0, 0, 0.15),
        rgb(0, 0, 0, 0.1)
    ) !important;
    box-shadow: inset 0 0 10px rgba(100, 100, 100, 0.1);
    border-radius: 10px;
    border: var(--border-main);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
/* фикс демки в полном экране */
.callContainer__1477d:has(.actionRow__6f701) {
    margin: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
}

/* меняет градиент при навидиении там где демка */
.gradientContainer_cdada6 {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.04) 0%,
        rgba(0, 0, 0, 0) 50%
    );
}

/* ввод сообщений (chatbox) */
.channelTextArea_c2094b {
    background: rgba(255, 255, 255, 0.03) !important;
    border: var(--border-main);
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(100, 100, 100, 0.2);
}
.scrollerSpacer__6b1b6 {
    height: 25px;
}
.form_d8a4a1 {
    margin-top: 0;
}

/* Пользователи слева в списке, справа на серверах, каналы на серверах */
.interactive__0786a,
.member_b44d5d,
.layout_bb8e67,
.modeSelected__473f1 .link_ddbb36,
.wrapper__612a5 .link_ddbb36 {
    transition: 0.1s;
    margin-left: 5px;
    width: 95%;
    border-radius: 10px;
}
.selected__37292,
.interactive__0786a:hover,
.member_b44d5d:hover,
.modeSelected__473f1 .link_ddbb36,
.modeSelected__473f1:hover .link_ddbb36 {
    background: linear-gradient(
        rgba(184, 184, 184, 0.225),
        rgba(255, 255, 255, 0.144)
    );
    margin-left: 7px;
}
.modeSelected__473f1 .link_ddbb36,
.wrapper__612a5 .link_ddbb36 {
    transition: none;
}

/* Строка поиска слева сверху */
.searchBarComponent__8f95f {
    margin-left: 7px;
    width: 94% !important;
}

/* Стеклеянные окна */
.searchBarComponent__8f95f, /* Строка поиска слева сверху */
.menu__088f7:not(.menu__13d0c) /* Контекстное меню */ {
    background: rgba(255, 255, 255, 0.03) !important;
    box-shadow: inset 0 0 10px rgba(100, 100, 100, 0.25) !important;
    border-radius: 10px !important;
}

/* Контекстное меню Blur */
.menu__088f7:not(.menu__13d0c):before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    pointer-events: none;
    z-index: -1;
}
/* фикс когда открыта картинка */
#image-context[class*="menu__088f7"] {
    backdrop-filter: blur(15px) brightness(var(--brightness-bg));
}
.menu__088f7:not(.menu__13d0c) .submenu_aed9ee:before {
    width: calc(100% - 16px);
    left: 8px;
}

/* панель пользователя */
[class^="sidebar_"] [class^="panels_"] {
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45),
        inset 0 0 10px rgba(100, 100, 100, 0.2);
}
[class^="sidebar_"] [class^="panels_"] [class^="container_"],
[class^="sidebar_"] [class^="panels_"] [class^="panel_"] {
    background-color: rgba(100, 100, 100, 0.04) !important;
}

/* Загружаемые файлы и разные фоны в сообщениях */
.attachment__06ca3.newMosaicStyle_b4aa24,
.newMosaicStyle_ed53d8 .codeView_e4dd18,
.newMosaicStyle_ed53d8 .footer__90194,
.newMosaicStyle_ed53d8 .textContainer__65f57,
.grid__35551,
.wrapper__8a5dd,
.markup_a7e664 code,
.content__7191e {
    background: rgba(100, 100, 100, 0.15);
}

/* При наведении в чате на сообщение справа тул панель с действиями */
.wrapper__4e6b6 {
    border-radius: 10px;
    border: 1px solid var(--background-secondary-alt);
    backdrop-filter: blur(10px);
    background: rgba(165, 165, 165, 0.15);
}

/* Сверху слева иконка дискорда, убираем цвет если не активна */
.childWrapperNoHoverBg_bc176a {
    background: transparent;
}

/* Ссылки в чате */
a.anchor_c8ddc0 > span:not(.username__4a6f7) {
    background: linear-gradient(
        90deg,
        rgb(78, 208, 255),
        rgb(230, 98, 230),
        rgb(171, 189, 56)
    );
    color: transparent;
    background-clip: text;
}

/* друзья */
/* друзья */
/* друзья */
/* друзья */
/* друзья */
/* друзья */
.wrapper__3c6d5,
.section__253ec {
    background: rgba(100, 100, 100, 0.15);
}
.outer_a41cf3.interactive__46c44:hover,
.theme-dark .outer_a41cf3.active__76f42 {
    background: rgba(100, 100, 100, 0.3) !important;
}
.actionButton__2b4bb {
    background: rgba(100, 100, 100, 0.3) !important;
}
/* друзья */
/* друзья */
/* друзья */
/* друзья */
/* друзья */
/* друзья */

/* поиск нажатие */
.quickswitcher_b5bb0a {
    background: rgba(100, 100, 100, 0.15);
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.1);
    padding: 3%;
    padding-right: 34px;
    backdrop-filter: blur(10px);
}
.input__2a648 {
    background: rgba(100, 100, 100, 0.1);
    width: 103.4%;
}
.scroller_d4b86c {
    background: rgba(100, 100, 100, 0.15);
}

/* Если тебя упомянули */
.mentioned_fa6fd2 {
    background: rgba(226, 226, 226, 0.08) !important;
}
/* Линия слева в сообщении в котором тебя упомянули */
.mentioned_fa6fd2:before {
    background-color: rgba(226, 226, 226, 0.16);
}

/* теги когда тэгаешь кого то */
.autocomplete__743a5 {
    background-color: rgba(35, 35, 35, 0.2) !important;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 1px solid var(--background-secondary-alt);
}

/* ответить , вы просматриваете старые сообщения*/
.replyBar_ed6afc,
.jumpToPresentBar__69174 {
    background: rgba(100, 100, 100, 0.07);
    border-bottom: 1px solid rgba(228, 228, 228, 0.03);
}
.jumpToPresentBar__69174 {
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid var(--background-secondary-alt);
}

/* авторизованные пользователи */
.cardPrimary__1ee6a {
    background: rgba(100, 100, 100, 0.07);
}
/* семейный центр */
.container_d5dec4,
.container_db1b74,
.container__5a2c3 {
    background: rgba(100, 100, 100, 0.1);
    border: 1px solid var(--background-secondary-alt);
}

/* Настройки > Профили > Попробуйте нитро */
.premiumFeatureBorder__6ac04 {
    background: rgba(100, 100, 100, 0.15) !important;
    border: 1px solid var(--background-secondary-alt);
}

/* textbox */
.input_f27786,
.input_f27786:hover {
    background: rgba(100, 100, 100, 0.2) !important;
    border: 1px solid var(--background-secondary-alt);
}
.input_f27786.focused__86d46,
.input_f27786:focus {
    border: 1px solid rgba(255, 255, 255, 0.15);
}
/* Настройки > Профили > Обо мне (textbox) */
.bioTextArea_f46f71 {
    background: rgba(100, 100, 100, 0.2) !important;
    border: var(--border-main);
}

/* предпросмотр профиля */
.userProfileInnerThemedNonPremium_b64fb4 {
    border: var(--border-main);
}

/* SelectBox (Настройки > Конфиденциальность) */
.lookFilled__9c1ef.select_fe2671 {
    background: rgba(100, 100, 100, 0.2) !important;
    border: var(--border-main);
}
/* open select box  */
.popout_a6e77f {
    background: rgba(100, 100, 100, 0.2) !important;
    backdrop-filter: blur(20px);
    border: var(--border-main);
}
/* Width fix  */
.popout_a6e77f.scrollerBase__65223 {
    overflow: auto !important;
}

/* фильтр спама */
.itemFilled__5a849 {
    background: rgba(100, 100, 100, 0.2) !important;
}

/* Toogle ON */
.container__2ed72.checked__36fdc {
    background-color: rgba(255, 255, 255, 0.4) !important;
}
/* Toogle OFF */
.container__2ed72 {
    background-color: rgba(100, 100, 100, 0.4) !important;
}

/* Настройки > Самая нижняя панель */
.card__4dc22:not(.outline__16075) {
    background-color: rgba(100, 100, 100, 0.15) !important;
}

/* интеграция */
.connection__6dbd8,
.accountButtonInner__00bdd,
.accountBtnInner__1470b {
    background-color: rgba(100, 100, 100, 0.2) !important;
}

/* WARNING (Настройки > Горячие клавиши) */
.vc-backup-restore-card,
.warning__4da7a {
    border: 1px solid rgba(240, 230, 100, 0.4);
}

/* Настройки > Зарегистрированные игры (верхняя панель)  */
.notDetected__14b92 {
    background-color: rgba(100, 100, 100, 0.1) !important;
    border: var(--border-main);
}

/* Blue + Red Buttons */
button[class*="lookFilled__950dd"] {
    background-color: rgba(150, 150, 150, 0.25) !important;
    border-radius: 7px;
}
button[class*="lookFilled__950dd"]:hover {
    background-color: rgba(150, 150, 150, 0.35) !important;
}
/* Кнопка деавторизировать */
.lookOutlined__014b5.colorRed__5a617 {
    border: var(--border-main);
}
.lookOutlined__014b5.colorRed__5a617:hover {
    background-color: rgba(190, 30, 60, 0.3);
    border: 1px solid rgba(190, 30, 60, 0.4);
}

/* MessageBox`ы  */
.container_a30b97.root_a28985,
.modalSize__8ea81.root_a28985,
.small_f8e677,
.medium_b9df4c {
    background-color: rgba(100, 100, 100, 0.2) !important;
    backdrop-filter: blur(25px);
    border-radius: 10px;
}
.footer_e0b400,
.message_ff43e6 {
    background-color: rgba(100, 100, 100, 0.1) !important;
    border-radius: 10px;
}

/* Настройки > Левая панель (табы) */
.side_b4b3f6 .selected_a523ff {
    background-color: rgba(100, 100, 100, 0.3) !important;
}
.side_b4b3f6 .item__48dda {
    border-radius: 10px;
}

/* Закрепленные сообщения */
.messagesPopoutWrap__10dd1,
.container__84c26 {
    background-color: rgba(100, 100, 100, 0.1) !important;
    backdrop-filter: blur(35px);
}
.messageGroupWrapper__1fce2 {
    background-color: rgba(100, 100, 100, 0.1) !important;
}
.messagesPopoutWrap__10dd1 {
    margin-top: -15px; /* Фикс для margin области разговора (демки) что бы дискорд не прыгал */
}

/* Открытый поиск в диалоге (когда уже просматриваешь найденные сообщения) */
.searchResultsWrap__2e184 {
    background-color: rgba(100, 100, 100, 0.2) !important;
}
.searchResult__00093 {
    background-color: rgba(100, 100, 100, 0.1) !important;
    border: var(--border-main);
}

/* Кнопка + (Добавить сервер) */
.circleIconButton__05cf2 {
    background-color: rgba(200, 205, 210, 0.1) !important;
    color: rgba(200, 200, 200, 0.8) !important;
}

/* Поиск в чате справа сверху при наведении */
.searchBar__5a20a:hover,
.focused__037a4 .searchBar__5a20a,
.open_d3ab4e .searchBar__5a20a {
    background-color: rgba(100, 100, 100, 0.25);
    backdrop-filter: blur(20px);
}

/* кнопка пригласить на сервер друга */
.inviteRowButton__14750,
.lookOutlined__014b5.colorGreen__75c93:hover {
    background-color: rgba(100, 100, 100, 0.25);
    border: var(--border-main) !important;
    width: 110px;
    border-radius: 6px;
}

/* когда кто то пиздит */
.border_d9a17b.speaking_c28527,
.border_e782de.speaking_b20122,
.speaking-3K28iH,
.speaking__33297,
.avatarSpeaking__747a1 {
    box-shadow: inset 0 0 10px rgb(130, 130, 130);
}

/* устройстав задний цвет */
.sessionIcon_df2e9c,
.legacySession__809be .sessionIcon_df2e9c {
    filter: invert();
    background-color: rgba(100, 100, 100, 0.25) !important;
}

/* BETA где то в настройках */
.textBadge_f05120 {
    background-color: rgba(100, 100, 100, 0.5) !important;
}

/* ссылки при клике которые не обычные ссылки */
.fileNameLink__6e8b0,
.link__64337,
.lookLink_a2da25 {
    background: linear-gradient(90deg, rgb(255, 84, 132), rgb(137, 90, 255));
    color: transparent;
    background-clip: text;
}

/* ToolTip */
.tooltipPrimary__51b23,
.tooltipGreen__36421 {
    background-color: rgba(100, 100, 100, 0.2) !important;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

/* цвет профиля когда тыкаешь сверху */
.popoutBanner__3fbe8,
.banner__6d414.modalBanner_e4ade4 {
    background-color: rgba(100, 100, 100, 0.2) !important;
}
.userPopoutInner_ac0960:before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    pointer-events: none;
    z-index: -1;
}

/* идет загрузка файла */
.attachment__06ca3 {
    background-color: rgba(100, 100, 100, 0.1) !important;
}
/* вставка файла в чат */
.upload_c98ecb {
    background-color: rgba(100, 100, 100, 0.2) !important;
    border-radius: 10px;
}
/* Green Ico demka ON */
.upperBadge__00ad0 > .iconBadge__19638 {
    background-color: transparent !important;
    background-color: rgb(71, 71, 71) !important;
}

/* Шрифт для плагина который показывает сколько времени я в голосовом канале */
.text-xs-normal__46d75 span {
    font-family: var(--font-primary) !important;
}

/* шрифт ГОЛОСОВАЯ СВЯЗЬ ПОДКЛЮЧЕНА */
.contents__322f4 {
    font-weight: 500;
}

/* ачивмент в профиле */
.profileBadges__1f2ab {
    background-color: rgba(140, 140, 140, 0.2) !important;
}

/* квадрат загрузки */
.loadingPopout__5e2fa {
    border-radius: 10px;
}
.container__827e6.fixClipping__84826 {
    backdrop-filter: blur(30px);
}
/* сверху в чате новые сообщения */
.newMessagesBar__8b272 {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: var(--border-main);
}

/* форумы на сервере */
.mainCard__0ec2c {
    background: rgba(255, 255, 255, 0.1);
}
.container_de2a56:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* сообщение при входе в D$ */
.tip__6e299 {
    color: transparent;
    max-width: 1000px !important;
}
.tip__6e299::before {
    animation-duration: 1s;
    animation-name: slidein;
    content: "Theme created by jAba & Eject";
    color: white !important;
    display: flex;
    justify-content: center;
}
@keyframes slidein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* дискорд прокрутка при загрузке */
.scroller__6ea8b,
.thin__62e51.scrollerBase__65223.fade__8a426,
.brand_ce3ecf {
    background: transparent !important;
}

/* чат ?????? */
.chat__52833.content__01e65.container__03ec9 {
    background: rgba(255, 0, 0, 1) !important;
}

/* просмотр каналов на сервере */
.channelRow__538ef {
    background: rgba(255, 255, 255, 0.1) !important;
}

/* в вашем списке каналов нет этого канала НА СЕРВЕРЕ  */
.chatHeaderBar_b11c70 {
    background: rgba(255, 255, 255, 0.1) !important;
}

/* ПОМЕТКА БОТА БОТ */
.botTagRegular_fc4b4a {
    background: rgba(255, 255, 255, 0.15) !important;
}

/* прN наведении на упоминание */
.interactive:hover {
    background: rgba(255, 255, 255, 0.15) !important;
}

/* Поставленная реакция на сообщение */
.reactionMe__0fffc {
    background: rgba(255, 255, 255, 0.15) !important;
}

/* ветки на серверах */
.container_f93da8 {
    backdrop-filter: blur(25px);
}

/* Иконка дискорда слева сверху */
.wrapper_a6f950:hover .childWrapper__760c6,
.wrapper_a6f950.selected_b420e6 .childWrapper__760c6 {
    background: rgba(255, 255, 255, 0.1) !important;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1) !important;
}

/* Кнопки в контекстном меню */
.colorDefault_e361cf.focused_dcafb9 {
    border-radius: 10px;
}

/* удалить сообщение в контекстом меню */
.colorDanger__08c25 {
    color: rgb(202, 90, 116);
}

/* способы скама на нитро на маманта */
.paymentPane__541d7,
.paginator__28ba5,
.payment_f27ac6 {
    background: rgba(255, 255, 255, 0.015) !important;
}

/* панель эмодзи */
.contentWrapper_e0bb2c {
    backdrop-filter: blur(20px);
}
.popoutContainer__66068 {
    background: rgba(255, 255, 255, 0.05) !important;
}

/* бляр на баре  */
.tooltipGrey__3108e {
    backdrop-filter: blur(10px);
}

/* выбор контекстого меню галочки фон */
.colorDefault_e361cf.focused_dcafb9 path {
    fill: rgba(255, 255, 255, 0.3);
}

/* фон выбора сервера  */
.regionSelectPopout_a270cb {
    backdrop-filter: blur(15px);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1) !important;
    border: var(--border-main);
}

/* добавить в друзья главный экран */
.tabBar__73938 .addFriend__4c0a2.addFriend__4c0a2.addFriend__4c0a2:hover {
    background: rgba(255, 255, 255, 0.25) !important;
}

/* добавить в друзья бордер */
.addFriendInputWrapper__2b30b:focus-within {
    border: var(--border-main);
}

/* сведение 0 сервере */
.container__13b2a {
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border: var(--border-main);
}

/* зажатие на удалить сообщения */
.colorDanger__08c25:active:not(.hideInteraction__0b569) {
    background: rgba(202, 90, 116, 0.6) !important;
}
/* фикс бордера в контекстном меню при зажатии и отведении */
.colorDefault_e361cf:active:not(.hideInteraction__0b569) {
    border-radius: 10px;
}

/* плагин membercount */
.vc-membercount-widget {
    --color-online: rgba(108, 255, 223, 0.7);
}

/* смотреть  стрим */
.streamPreview__3a6b0 {
    background: transparent !important;
}
.streamPreview__3a6b0 button {
    backdrop-filter: blur(10px);
}

/* когда демку можно включить */
.colorable__4f530.primaryDark_ec74a7 .centerIcon_e3df23 {
    color: rgb(255, 255, 255);
}

/* можно выключить демку */
.colorable__4f530.white_ce1c7b,
.colorable__4f530.white_ce1c7b .centerIcon_e3df23 {
    color: rgba(202, 90, 99, 0.9);
}

/* линия под ссылками */
.anchor_c8ddc0 {
    text-decoration-color: rgba(255, 255, 255, 0.45) !important;
}

/* Черная линия в чате в разговоре */
.resizeHandle_b0065e {
    background-color: transparent;
}

/* Уведомление о обновлении VenCord */
.vc-notification {
    backdrop-filter: blur(20px);
}

/* фон сообщений при наведении */
.message_ccca67:hover {
    background: rgba(190, 190, 190, 0.03) !important;
}

.popout__4c91, /* статус действий на сервере	 */ 
.reactionTooltip__20d0b  /* наведение на реакцию */ {
    backdrop-filter: blur(15px);
}

/* добавить учетную запись */
.authBoxExpanded__1da99,
.modal__20db0 {
    background: rgba(255, 255, 255, 0.05) !important;
    backdrop-filter: blur(15px);
}

/* Add server */
.circleIconButton__05cf2:hover > .circleIcon_b62ef0 {
    animation-name: ani-rotate;
    animation-duration: 1s;
}
/* статистика пинга  */
.debugPanelStandalone__43f23 {
    backdrop-filter: blur(15px);
    border-radius: 15px;
}
@keyframes ani-rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
